.bg {
	background-color: #27ae60;*/
	width: 100%;
	height: 100%;
}

.formulari{
	margin-top: 30px;
}

label {
	color:white;
	font-weight: bold;
	font-size: 130%;
}

input {
	height: 
}

h2 {
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 35px;
}

.help-block {
	color:white;
	font-size: 120%;
}

.tooltip-inner {
   font-size: 130%;
   max-width: 500px;
}

.form-control{
	height: 40px;
}

.container-fluid{
	background-color: #27ae60;
	width: auto;
	height: auto;
	padding-bottom: 40px;
}